*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    /* font-family: montserrat, verdana, sans-serif; */
    font-family: "Quintessential", serif;
    font-weight:bolder;
    font-style: normal;
}
body,html{
    height: 100vh;
    height: 100dvh;
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
}
@media(max-width: 768px) {
    body::before {
        content: '';
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: url("assets/lotus-bg.jpg");
        image-resolution: from-image;
        background-size: cover;
        background-position: center;
        /* background: rgba(0, 0, 0, 0); */
        z-index: -1;
    }
}    
body {
    background-color: #f8ffe5;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-container {
    width: 100%;
    max-width: 500px;
    background-color: #018163;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: #f8ffe5;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

label {
    font-size: 14px;
    margin-bottom: 5px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    outline: none;
    background-color: #f8ffe5;
    color: #000;
}

textarea {
    resize: none;
}

button {
    padding: 10px;
    background-color: #06d6a0;
    color: #f8ffe5;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #04b88a;
}
footer {
    width: 100%;
    text-align: center;
    line-height: 32px;
    background-color: #018163;
    color: #FFFFFF;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
  
}
@media screen and (max-width: 768px) {
    .contact-container {
        width: 85%;
    }

    footer {
        font-size: 70%;
    }
}